html {
    scroll-behavior: smooth
}

* {
    outline: 0 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'United\ Italic\ Reg\ Black';
    src: url('../fonts/United\ Italic\ Reg\ Black.otf')
}

@font-face {
    font-family: 'UnitedSansExt-Black';
    src: url('../fonts/UnitedSansExt-Black.otf')
}

@font-face {
    font-family: 'UnitedSansExt-Bold';
    src: url('../fonts/UnitedSansExt-Bold.otf')
}

@font-face {
    font-family: 'UnitedSansExt-Heavy';
    src: url('../fonts/UnitedSansExt-Heavy.otf')
}

@font-face {
    font-family: 'UnitedItalicReg-Medium';
    src: url('../fonts/UnitedItalicReg-Medium.otf')
}

@font-face {
    font-family: 'UnitedItalicSemiExt-Heavy';
    src: url('../fonts/UnitedItalicSemiExt-Heavy.otf')
}

@font-face {
    font-family: 'UnitedSansExt-Light';
    src: url('../fonts/UnitedSansExt-Light.otf')
}

@font-face {
    font-family: 'UnitedSansExt-Medium';
    src: url('../fonts/UnitedSansExt-Medium.otf')
}

@font-face {
    font-family: 'unitedsansextblack';
    src: url('../fonts/unitedsansextblack.png')
}

@font-face {
    font-family: 'arial\ 1';
    src: url('../fonts/arial\ 1.ttf')
}

@font-face {
    font-family: 'Arial\ 2';
    src: url('../fonts/Arial\ 2.ttf')
}

.top-title {
    font-family: 'United\ Italic\ Reg\ Black';
    position: absolute;
    top: 50%;
    right: 22%;
    font-size: 66px;
    letter-spacing: 2px;
}

.content-all {
    background: url('../image/background-filter.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    padding: 44px 18px 65px 18px;
}

.filter-content {
    background: #fff;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-shadow: 0 2px 2px 3px #d9d6d6;
}

.filter-p {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #000;
    font-size: 30px;
    letter-spacing: 1.2px;
    background: #ece8e6;
    padding: 6px 20px;
    margin-bottom: 0;
    border-radius: 20px;
}

.filter-p i {
    margin-right: 0.5rem;
    font-size: 25px;
}

.active-filter {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    background: #C8142F;
    padding: 6px 7px 6px 15px;
    margin-bottom: 0;
    border-radius: 22px;
    width: max-content;
}

.div2 {
    margin-top: 1rem;
    padding: 0 32px 0 10px;
}

.filters button.active {
    background: #C8142F;
    color: #fff;
}

span.close-filter {
    position: relative;
    top: -12px;
    right: 0;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 2px 3px 2px 4px;
    border: 1px solid #545050;
}

span.close-filter i {
    color: #000;
    font-size: 9px;
}

.div3 {
    margin-top: 2rem;
}

.bigcheck {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #000;
    font-size: 27px;
    margin-left: -7px;
}

span.bigcheck-target {
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: 200;
    margin-right: 10px;
    /* Use an icon font for the checkbox */
}

.bigcheck-text {
    font-size: 22px;
}

.bigcheck-text i {
    font-weight: 600;
    margin-left: 25px;
}

input[type='checkbox'].bigcheck {
    position: relative;
    left: -999em;
    /* Hide the real checkbox */
}

input[type='checkbox'].bigcheck+span.bigcheck-target:after {
    content: "\f096";
    /* In fontawesome, is an open square (fa-square-o) */
}

input[type='checkbox'].bigcheck:checked+span.bigcheck-target:after {
    content: "\f046";
    /* fontawesome checked box (fa-check-square-o) */
}


/* ==== Optional - colors and padding to make it look nice === */

span.bigcheck {
    display: block;
    padding: 0.5em;
}

.filters {
    padding: 0 0px 0 10px;
}

.LED-Auxiliary-Lights {
    font-family: 'UnitedItalicReg-Medium';
    color: #3a3938;
    background: #ece8e6;
    padding: 7px 10px;
    border-radius: 30px;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-right: 5px;
    border: none;
    display: inline-block;
    box-shadow: 0 4px 2px -2px #d9d6d6;
}

.thumb-wrapper {
    background: #fff;
    padding: 13px;
    border-radius: 13px;
    margin-bottom: 1rem;
    height: 17rem;
}

.text-img {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    height: 6rem;
}

.text-img img {
    width: 34%;
    object-fit: contain;
    height: 78%;
}

.text-img p {
    font-family: 'UnitedItalicReg-Medium';
    font-style: italic;
    color: #000;
    font-size: 17px;
    /* letter-spacing: 1px; */
    margin-bottom: 0;
    padding-right: 27px;
    line-height: 1.1;
}

.title p {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #000;
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

.price p {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #C8142F;
    font-size: 18px;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
}

.pad-left {
    padding-left: 0;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #c8142f!important;
}

.carousel-control-prev .arrow-prev i {
    transform: rotate(90deg);
}

.carousel-control-next .arrow-next i {
    transform: rotate(270deg);
}

.pad-right {
    padding-right: 0;
}

.add-to-cart button {
    background: #c8142f;
    color: #fff;
    padding: 6px 4px 5px 14px;
    border: none;
    border-radius: 17px;
    font-family: 'United\ Italic\ Reg\ Black';
    letter-spacing: 1.2px;
    font-size: 14px;
}

.add-to-cart button svg {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.num {
    display: flex;
    font-family: 'United\ Italic\ Reg\ Black';
    justify-content: left;
    padding-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.num input {
    background: #c8142f;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.num #dec {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 800;
}

.num #plus {
    font-family: 'FontAwesome';
}

.num #up,
.num #up2,
.num #up3 {
    margin-left: 15px;
    margin-right: 15px;
}

.details-div {
    display: grid;
    float: right;
}

.details {
    float: right;
    width: 30px;
    height: 24px;
}

.details-p {
    font-family: 'UnitedItalicReg-Medium';
    margin-bottom: 0;
    /* display: inherit; */
    /* text-align: right; */
    /* position: absolute;
    right: 11px;
    bottom: 26px; */
    font-size: 10px;
    text-decoration: underline;
    color: #c8142f;
}

.details-p:hover {
    color: #3f2b2e;
}

.select-options {
    text-align: center;
}

.select-options button {
    padding: 6px 14px 5px 14px!important;
}

.text-img2 {
    margin-bottom: 3rem;
}

.carousel-control {
    display: flex;
    justify-content: space-between;
    padding-right: 18rem;
}

.carousel-control-next,
.carousel-control-prev {
    position: inherit!important;
    display: inline-flex!important;
    color: #c8142f;
    opacity: 1!important;
    border-radius: 32px;
    padding: 3px 10px;
    border: 2px solid #c8142f;
    font-family: 'UnitedItalicReg-Medium';
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    color: #3a3938;
}

span.arrow-prev,
span.arrow-next {
    color: #fff;
    background: #c8142f;
    width: 18px;
    vertical-align: middle;
    height: 18px;
    margin-left: 9px;
    padding: 0px 2px 2px 2px;
    align-items: center;
    border-radius: 50%;
}

.carousel-indicators li {
    text-indent: 1px!important;
    height: 0!important;
    opacity: 1!important;
}

.carousel-indicators li p {
    font-family: 'UnitedItalicReg-Medium';
    color: #000;
}

.carousel-indicators li.active p {
    color: #c8142f;
}

.carousel-indicators {
    left: 154px!important;
    z-index: 15!important;
    display: flex;
    justify-content: left!important;
    padding-left: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
}