html {
    scroll-behavior: smooth
}

* {
    outline: 0 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'United\ Italic\ Reg\ Black';
    src: url('../fonts/United\ Italic\ Reg\ Black.otf')
}
@font-face {
    font-family: 'UnitedItalicReg-Medium';
    src: url('../fonts/UnitedItalicReg-Medium.otf')
}
.checkbox, .radio{
    font-family: 'UnitedItalicReg-Medium';
}
.section2{
    position: relative;
    top: -38rem;
    margin-bottom: -24rem;
    color: #000;
    text-align: center;
}
.section2 .title{
    font-size: 58px;
    font-family: 'United\ Italic\ Reg\ Black';
}
.section2 .description{
    padding: 0px 135px;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 3rem;
    font-family: 'UnitedItalicReg-Medium';
}
.section2 .more a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    padding: 12px 50px;
    border-radius: 35px;
    background-color: black;
    font-family: 'United\ Italic\ Reg\ Black';
}
.section-form hr{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.section-form .lessmore hr{
    margin-top: 1rem!important;
    margin-bottom: 2rem!important;
}
.section-form{
    margin: 0 0 8rem 0;
}
.section-form .group{
    display: flex;
}
.section-form .group #fname{
    background-image: url('../image/iconperson.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
    background-size: 20px;


    margin-bottom: 3rem;
}
.section-form .group #lname{
    background-image: url('../image/iconperson.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;
   
    margin-bottom: 3rem;
}
.section-form #telephone{
    border-left: 1px solid #eee;
}
.iti__selected-flag{
    height: 62%!important;
}
.iti__selected-flag{
    
    background-color: #eee!important;
}
.iti__arrow{
    border-left: 4px solid transparent!important;
    border-right: 4px solid transparent!important;
    border-top: 6px solid #c8142f!important;
}
.section-form .group #email{
    background-image: url('../image/Icon\ email.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;

    margin-bottom: 3rem;
}
.section-form .hr-line{
    padding: 0;
}
.section-form .group input::placeholder{
    font-family: 'UnitedItalicReg-Medium';
    font-size: 16px;
    color: #000;
}
.section-form .Additional textarea::placeholder{
    font-family: 'UnitedItalicReg-Medium';
color: #898D90;
    font-size: 20px;
}
.section-form .group #Company-Name{
    background-image: url('../image/p1.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;

    margin-bottom: 3rem;
}
.section-form .group #Street-address{
    background-image: url('../image/p2.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;

    margin-bottom: 3rem;
}
.section-form .group #Zip-Code{
    background-image: url('../image/p3.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 15px;
    margin-bottom: 3rem;
}

.section-form .group #City{
    background-image: url('../image/p4.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;
    margin-bottom: 3rem;
}
.section-form .group #State{
    background-image: url('../image/p4.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;
    margin-bottom: 3rem;
}
.section-form .group #Country{
    background-image: url('../image/p4.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;
    margin-bottom: 3rem;
}
.section-form .group #Website{
    background-image: url('../image/p5.png');
    background-repeat: no-repeat;
    background-position: 22px;
    padding-left: 55px;
        background-size: 20px;

    margin-bottom: 3rem;
}
.section-form .sub-box{
    display: flex;
}
.section-form .sub-box .box1{
    margin-right: 10rem;
}
.section-form .sub-box .control, .section-form .sub-box .control2{
    padding-left: 5rem;
}
.section-form input[type="radio"]{
    accent-color:#c8142f;
}

.section-form .title{
    color: #000;
    font-size: 29px;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'United\ Italic\ Reg\ Black';
}
.section-form .subtitle{
    font-size: 22px;
    color: #000;
    text-align: left;
    font-family: 'UnitedItalicReg-Medium';
}
.section-form .group input{
    width:330px;
    border: unset;
    padding: 14px 20px;
    margin-right: 4rem!important;
    box-shadow: 0px 2px 5px 1px #eee;

}
.section-form input[type="text"], input[type="number"]{
    width:330px;
    border: unset;
    padding: 14px 20px;
    margin-right: 4rem!important;
    box-shadow: 0px 2px 5px 1px #eee;
} 
.section-form .Other{
    margin-top: 2rem;
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    font-family: 'UnitedItalicReg-Medium';
}
.section-form .Other input{
    width: 620px;
margin-left: 3rem;
}
.section-form .subinput input{
    width: 860px;
    margin: 1.5rem 0 3rem 0;
}
.section-form .subinput input[type='number']:focus{
    outline: none!important; 
    outline: none;
    border: specify yours;
}

.section-form .subinput input[type='number']::-webkit-outer-spin-button,
.section-form .subinput input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.section-form .subinput input[type='number']{
  -moz-appearance: textfield;
}


.section-form .less-top{
    margin-top:-2rem;
}
.section-form .check{
    display: block;
}
.section-form .Sales{
    margin-bottom: 1rem;
}
.section-form .mySales .subtitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-form .mySales input{
    margin-right: 1rem

}
.section-form .mySales .check{
    font-family: 'UnitedItalicReg-Medium';
    font-size: 18px;
    color: #000;
    font-weight: unset;
}
.section-form .mySales .full-width{
    width: 860px;
}
.section-form .Additional textarea{
    display: block;
    width: 860px;
    padding: 2rem;
    margin: 4rem 0 8rem 0;
    border: unset;
    box-shadow: rgb(238 238 238) 0px 2px 5px 1px;
 
    min-height: 15rem;
    max-height: 15rem;
}

#html_btn {
    display: none;
}

.new_Btn {
    border: 1px solid #c7c7c7;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 630px;
    color: #c7c7c7;
    padding: 12px;
}
.Browser-btn{
    cursor: pointer;
    font-family: 'United\ Italic\ Reg\ Black';
    width: 88px;
    height: 44px;
    background-color: #c8142f;
    color: white;
    border: 1px solid #c8142f;
    font-size: 16px;
    padding: 12px 10px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    position: relative;
    top: -65px;
    right: -541px;
    letter-spacing: 1px;

}
.section-form .less1 hr{
    margin-top: -3rem!important;
}



.section-form .fini{
    text-align: center;
}
.section-form .fini button{
    
    padding: 6px 50px;
    font-family: 'United\ Italic\ Reg\ Black';
    color: white;
    border: 1px solid #C8142F;
    background: #c8142f;
    border-radius: 60px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1px;
}
.section-form .fini p{
    margin-top: 2rem;
}


.bigcheck {
    font-family: 'United\ Italic\ Reg\ Black';
    color: #000;
    font-size: 27px;
    margin-left: -7px;
    display: flex;
}

span.bigcheck-target {
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: 200;
    margin-right: 10px;
    /* Use an icon font for the checkbox */
}

.bigcheck-text {
    font-size: 20px;
    font-family: 'UnitedItalicReg-Medium';
 font-weight: 100;
}

.bigcheck-text i {
    font-weight: 600;
    margin-left: 25px;
    float: right;
}

input[type='checkbox'].bigcheck {
    position: relative;
    left: -999em;
    /* Hide the real checkbox */
}

/* ==== Optional - colors and padding to make it look nice === */


span.bigcheck-target {
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: 200;
    margin-right: 10px;
    /* Use an icon font for the checkbox */
}

input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    content: "\f096";
    /* In fontawesome, is an open square (fa-square-o) */
}

input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
    content: "\f046";
    /* font-size: 14px; */
    /* fontawesome checked box (fa-check-square-o) */
}

span.bigcheck {
    display: block;
    /* padding: 0.5em; */
}


#mobile-size hr{
    display: none;
}
.section2 #only-on-mobile{
    display: none;
}
.iti--separate-dial-code .iti__selected-dial-code{
    font-family: 'UnitedItalicReg-Medium'!important;
    color: black!important;
    font-weight: bold!important;
}
/* responsive */
@media(max-width:1199.5px){
    .section2 .description{
        padding: 0px 50px;
        font-size: 32px;
    }
    .section2 .title {
        font-size: 52px;
    }
    .section-form input[type="text"], input[type="number"], .section-form .group input{
        margin-right: 2rem!important;
        width: 290px;
    }
    .section-form .Other input{
        width: 620px;
    }
       
   
    .section-form .subinput input{
        width: 860px;
    }
}
@media(max-width:991.5px){
    .section-form .Other{
        align-items: center;
        display: flex;
        font-size: 18px;
    }
    
    .section-form input[type="text"], input[type="number"], .section-form .group input{
        margin-right: 10px!important;
        width: 245px;
    }
    .section-form .subinput input, .section-form .mySales .full-width, .section-form .Additional textarea {
        width: 640px;
    }
    .section-form .Other input {
        width: 440px;
    }
    .section-form .fini p{
        text-align: center;
    }
    .section2 .description {
        padding: 0;
        font-size: 26px;
    }
}
@media(max-width:825.5px){
    .section-form input[type="text"], input[type="number"], .section-form .group input {
        width: 225px;
    }
    .section-form .subinput input, .section-form .subinput input, .section-form .mySales .full-width, .section-form .Additional textarea {
        width: 580px;
    }
    .section-form .Other input {
        width: 380px;
    }
}
@media(max-width:767.5px){
    .section2{
        top: 0rem;
        margin-bottom: 6rem;
    }
    .section2 .description {
        font-size: 20px;
    }
    #mobile-size{
        padding: 0;
    }
    hr.mobile-size, .section-form hr{
        border-top: 2px solid #C9C9C9;
        display: block!important;
    }
    .section-form .group {
        display: grid;
    }
    .section-form input[type="text"], .section-form input[type="number"], .section-form .group input {
        width: 100%;
        margin-right: 0!important;
    }
    .section-form .group #fname, .section-form .group #lname, .section-form .group #email{
        margin-bottom: 1rem;
    }
    .section-form .group #email{
        margin-top: 1rem;
    }
    .section-form .group #Company-Name, .section-form .group #Street-address, .section-form .group #Zip-Code, .section-form .group #City, .section-form .group #State, .section-form .group #Country,.section-form .group #Website{
        margin-bottom: 1rem;
    }
    .section-form .lessmore hr{
        margin-top: 2rem!important;
    }
    .section-form .sub-box{
        display: unset;
    }
    .checkbox, .radio{
        font-family: 'UnitedItalicReg-Medium';
        font-size: 18px;
        color: #000;
        margin-top: 12px;
    margin-bottom: 12px;
    }
    .section-form .Other{
        display: block;
    }
    .section-form .sub-box .box1 {
        margin-right: 0rem;
    }
    .section-form .subtitle{
        font-size: 25px;
    }
    .section-form .Other input {

        margin-left: 0;
        margin-top: 1rem;
    }
    .section-form .Other {
        font-size: 25px;
}
.section-form .title{
    text-align: center;
}
.section-form .subinput input {

    margin: 0rem 0 1rem 0;
}
.section-form .mySales .only-desctop{
    display: none;
}
.section-form .mySales .only-mobily{
    display: block!important;
}
.section-form .subinput input, .section-form .subinput input, .section-form .mySales .full-width, .section-form .Additional textarea {
    width: 100%;
}
.new_Btn{
    width: 100%;
}
.Browser-btn{
    right: -422px;
}
.section-form .Additional textarea{
    min-height: 22rem;
    max-height: 22rem;
    margin: 1rem 0 5rem 0;
}
.section-form .fini p {
    font-family: 'UnitedItalicReg-Medium';
    text-align: left;
    font-size: 22px;
    padding: 0 25px 0 12px;
}
.section-form .Other input{
    padding: 8px 20px;
}
.iti__selected-flag {
    height: 104%!important;
    top: -1px;
}
.section2 #only-on-desctop{
    display: none;
}
.section2 #only-on-mobile{
    display: block;
}
}
@media(max-width:575.5px){
    .section2 {
        margin-bottom: 2rem;
    }
    .section2 .description {
        padding: 0 60px;
        line-height: 28px;
    }
   .section2 .title {
        font-size: 40px;
    }
    .Browser-btn {
        right: -460px;
    }
}
@media(max-width:550.5px){
    .Browser-btn {
        right: -432px;
    }
}
@media(max-width:525.5px){
    .Browser-btn {
        right: -414px;
    }
}
@media(max-width:510.5px){
    .Browser-btn {
        right: -391px;
    }
}
@media(max-width:490.5px){
    .Browser-btn {
        right: -371px;
    }
}
@media(max-width:480.5px){
    .Browser-btn {
        right: -361px;
    }
    .section2 .title {
        font-size: 38px;
        margin-bottom: 1rem;
    }
    .section2 .description {
        padding: 0 32px;
        line-height: 28px;
    }
    .iti__selected-flag {
        height: 103%!important;
        top: -0.7px;
    }
    .section-form .group #Company-Name, .section-form .group #Street-address, .section-form .group #Zip-Code, .section-form .group #City, .section-form .group #State, .section-form .group #Country, .section-form .group #Website{
        padding-left: 66px;
    }
    .section-form .group #fname, .section-form .group #lname, .section-form .group #email{
        padding-left: 66px;
    }
    .section-form .group input::placeholder{
        font-size: 14px;
    }
    .section-form .Additional textarea::placeholder{
        font-size: 18px;
    }
    .section-form .subtitle,.section-form .Other {
        font-size: 20px;
        font-weight: 600;
    }
    .section-form .mySales .subtitle {
        margin-bottom: 1rem;
    }
    .section-form .fini p {
        font-size: 20px;
        padding: 0 6px 0 12px;
    }
    .section-form {
        margin: 0 0 5rem 0;
    }
}
@media(max-width:460.5px){
    .Browser-btn {
        right: -341px;
    }
}
@media(max-width:448.5px){
    .section-form .title{
        font-size: 24px;
    }
    .section-form .Accessories{
        text-align: left;
    }
    .Browser-btn {
        right: -327px;
    }
}
@media(max-width:425.5px){
    .Browser-btn {
        right: -306px;
    }
}
@media(max-width:414.5px){
    .section2 #only-on-mobile {
        font-size: 15px;
        padding: 0px 20px;
    
    }
    .section-form input[type="text"], input[type="number"], .section-form .group input{
        box-shadow: 0px 2px 5px 1px #cbcbcb;
    }
    .section-form .subtitle, .section-form .Other {
        font-size: 18px;
    }
    .section-form hr{
        margin-bottom: 3rem!important;
    }
    .section-form .less-top {
        margin-top: 0rem;
    }
    .new_Btn{
        border: unset;
        font-weight: 600;
        background-color: white;
        box-shadow: 0px 2px 5px 1px #cbcbcb;
    }
    .Browser-btn{
        top: -64px;
        right: -296px;
    }
    .section-form .fini p {
        font-size: 16px;
        padding: 0 0px 0 0px;
    }
}
@media(max-width:400.5px){
    .Browser-btn {
        right: -282px;
    }
}
@media(max-width:390.5px){
    .Browser-btn {
        right: -272px;
    }
    .section-form .subtitle, .section-form .Other {
        font-size: 16px;
    }
}
@media(max-width:380.5px){
    .section2 #only-on-mobile {
        padding: 0px 10px;
    }
}
@media(max-width:370.5px){
    .Browser-btn {
        right: -251px;
    }
}