{% extends 'templates/oldtimer_base.html' %}
{% block title %}Home-{% endblock %}

{% block content %}
<div class="section1">
    <div class=" part1"></div>
    <div class=" part2"></div>

</div>

<div class="section-slid wow" id="slid">

    <div class="shop d-none d-md-block" data-wow-delay=".5s">
        <a href="#" class="more">Shop Now</a>
    </div>

    <div class="container">
        <div class="owl-carousel owl-1" id="myCarousel-slid">
          {% for banners in banners %}
          <div class="item wow" id="app">

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">

                        <div class="group content-txt">
                            <h2 class="title wow fadeInRight">{{banners.banner_name}}</h2>
                            <p class="desc wow fadeInRight">{{banners.description}}</div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                        <a href="#" class="active d-none d-md-block"> <img src="{{banners.image}}" alt="" class="wow ZoomIn"></a>
                         <div class="shop d-block d-md-none" data-wow-delay=".5s">
                            <a href="#" class="more">Shop Now</a>
                        </div>
                    </div>
                </div>

                <!-- <div class="switch">
                    <ul>
                      <li>
                        <div class="on"></div>
                      </li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                </div> -->
            </div>
            {% endfor %}

        </div>
    </div>
</div>



<div class="section2">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12 col-12 group">
                    <div class="title wow fadeInRight">QUALITY</div>
                    <div class="desc">Over 25 years ago, Baja Designs was founded with a
                        passion and thirst for off road. Performance driven
                        and race proven - Baja Designs engineers and
                        manufactures American made products, using only
                        the best components available, right here in San
                        Diego, California.</div>
                    <div class="more"><a href="#">Read More</a></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 top">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/1.png" style="z-index:1000;">
                </div>
            </div>
        </div>


</div>


<!-- <div class="section3">
    <div class="box-overlay">  </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/Mask Group 1.png">
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 col-12 group">
                    <div class="title">LIGHTING ZONES EXPLAINED</div>
                    <div class="desc">We believe it’s not just about having the brightest lights,
                        but using the right lights in the right way.Learn about the
                        different lighting zones to achieve the absolute best
                        lighting package
                        </div>
                    <div class="more"><a href="#">Read More</a></div>
                </div>

            </div>
        </div>


</div> -->

<div class="section3">
    <!-- <div class="parallax"></div> -->


    <div class="container">

        <div class="row upper">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="/assets/masar_portal_oldtimer/oldtimer/image/Mask Group 1.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 group" >
                <div class="title">LIGHTING ZONES EXPLAINED</div>
                <div class="desc">We believe it’s not just about having the brightest lights,
                        but using the right lights in the right way.Learn about the
                        different lighting zones to achieve the absolute best
                        lighting package
                </div>
                <div class="more"><a href="#">Read More</a></div>
            </div>
        </div>

    </div>


</div>



<div class="section4">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 group">
                    <div class="title">VEHICLE SPECIFIC KITS</div>
                    <div class="desc">We sell vehicle-specific lighting kits that are purpose- designed for what you drive. They’re available for
                        many popular off-road automotive makes, including
                        Ford, Chevy, Jeep, Toyota, Ram and more.</div>
                    <div class="more"><a href="#">Read More</a></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 top">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/3.png">
                </div>
            </div>
        </div>


</div>


<div class="section5">
    <div class="container-fluid">
        <h2 class="text-center" >BLOGS</h2>
        <div class="owl-carousel" id="myCarousel-blogs">

            <div class="item">
                <div class=" img-overlay">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6.png" class="img-overlay-image">
                    <div class="overlay">
                        <div class="text">
                            MOISTUREBLOCK | WHATMAKES BAJA DESIGNS</div>
                    </div>
                </div>

                <p class="time">October,6 2020</p>
                <p class="title-post d-md-none d-block">MOISTUREBLOCK | WHATMAKES BAJA DESIGNS</p>
                <p class="desc">When you are on the trail, you
                    need your lights to work no
                </p>
            </div>

            <div class="item">
                <div class=" img-overlay">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/old2.png" class="img-overlay-image">
                    <div class="overlay">
                        <div class="text">
                            2021 Baja 1000 Race Report
                        </div>
                    </div>
                </div>

                <p class="time">October,6 2020</p>
                <p class="title-post d-md-none d-block">2021 Baja 1000 Race Report</p>
                <p class="desc">Baja Designs racers made a
                    huge dent in Pro UTV classes.
                </p>
            </div>

            <div class="item">
                <div class=" img-overlay">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/old-1.png"  class="img-overlay-image">
                    <div class="overlay">
                        <div class="text">
                        Motowhips FE501 Husqvarna "Perfect Storm"
                        </div>
                    </div>
                </div>
                <p class="time">October,6 2020</p>
                <p class="title-post d-md-none d-block">Motowhips FE501 Husqvarna "Perfect Storm"</p>
                <p class="desc">Justin Myerson, has been
                    building exquisite motorbikes
                </p>
            </div>





        </div>

        <div class="text-center more"><a href="#">More Articles </a>

        </div>
    </div>
</div>



<div class="section6 text-center">
    <div class="container-fluid">
        <h2 class="text-center" >OUR SERVICES</h2>
        <div class="owl-carousel box" id="myCarousel-SERVICES">

            <div class="item">
                <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-1.png">
                <p class="time">USERVICE</p>
                <p class="desc">Being able to service your
                    own equipment is a
                    necessity when out on the
                    trail or back home in your
                    garage. Baja Designs set out
                    to make a light that is easily

                </p>

                <div class="text-center more">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="item">
                <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-2.png">
                <p class="time">MOISTUREBLOCK</p>
                <p class="desc">Making sure the elements
                    don’t damage the internals
                    of your performance lights
                    first and every light we
                    produce works in the worst
                    of conditions is core of our
                </p>

                <div class="text-center more">
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="item">
                <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-3.png">
                <p class="time">CLEARVIEW</p>
                <p class="desc">ClearView™ is our
                    proprietary optics, which
                    are computer designed in- house by Baja Designs’ team
                    of racing engineers who
                    have first-hand knowledge
                </p>

                <div class="text-center more">
                    <a href="#">Read More</a>
                </div>
            </div>


        </div>







    </div>
</div>


<div class="section7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center box">
                <h2>Subscribe</h2>
                <input type="email" placeholder="Enter your email">
                <button type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
