<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}OldTimer</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/files/Logo.jfif" type="image/x-icon">

    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          integrity="sha512-PgQMlq+nqFLV4ylk1gw UOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" type="text/css" href="/assets/masar_portal_oldtimer/oldtimer/css/style-home.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/masar_portal_oldtimer/oldtimer/css/header-footer-style.css"/>

    <link rel="stylesheet" type="text/css" href="/assets/masar_portal_oldtimer/oldtimer/css/animate.css" />

    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/jquery.morecontent.css">
    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/demo.css">

    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/shop.css">

    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/login.css">

    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/dealer.css">

    <link rel="stylesheet" href="/assets/masar_portal_oldtimer/oldtimer/css/category.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet" />
    

</head>
<style>
    .section1{
        background-image: url(/assets/masar_portal_oldtimer/oldtimer/image/37262.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        height:709px;
    }
    .bootstrap-select .btn:focus{
    outline: none !important;
    outline-offset:0px!important;
    border: none!important;
    box-shadow: none!important;
    }
    @media(max-width:767.5px){
        .section1{
            display: block!important;
            position: unset!important;
        }
        body{
            background-color: #F5F2F2;
        }
        #mobile-nav{
            background-color: #F5F2F2;
        }
    }

</style>
<body>
    <!--navbar-->
    <nav class="navbar navbar-expand" id="desktop-nav">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                <img id="logo" src="/assets/masar_portal_oldtimer/oldtimer/image/logo.png" width="100%">
            </a>

            <a class="location" href="#">
                <img src="/assets/masar_portal_oldtimer/oldtimer/image/Icon.png" >
            </a>

            <p class="location-desc" href="#">
                Deliver to <br> United Arab Emirates
            </p>

            <div class="collapse navbar-collapse" id="navbarExample">

                <select id="category1"  name="" onchange="myFunction(event)">
                        <option value="All Products">All</option>
                        <option value="REAR TAIL LIGHTS">REAR TAIL LIGHTS</option>
                        <option value="INFRARED LIGHTING">INFRARED LIGHTING</option>
                        <option value="LASER LIGHTING"> LASER LIGHTING</option>
                        <option value="RTL-REAR TAIL LIGHTS"> RTL-REAR TAIL LIGHTS</option>
                        <option value="LED Auxiliary Lights"> LED Auxiliary Lights</option>
                        <option value="LED Light Bars">  LED Light Bars</option>


                </select>
                <div class="search-box">
                    <input id="myText" class="icon-rtl"  type="text" value="search product">

                </div>

            </div>



            <div class="collapse navbar-collapse" id="navbarExample">
                <ul id="l-nav" class="navbar-nav second-ul">
                    <div class="content">

                        <select class="selectpicker" data-width="fit">
                            <option data-content='<span class="flag-icon flag-icon-us"></span>'></option>
                            <option  data-content='<span class="flag-icon flag-icon-ae"></span>'></option>
                        </select>



                        <select id="category2">
                            <option selected>AED</option>

                            <option value="item1">USD</option>
                            <option value="item2">EUR</option>
                         </select>

                    </div>
                    <li class="menu-item dropdown">
                        <a class="menu-link dropdown-toggle2 zr2" href="#" id="dropdown2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Account
                           <i class="fa fa-angle-down"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdown2">
                            <a class="dropdown-item" href="#">Login & Register</a>
                        </div>
                    </li>
                    <!-- <select id="category3">
                        <option>Account</option>
                        <option value="item1">Account1</option>
                        <option value="item2">Account2</option>

                     </select> -->
                    <!-- <li class="menu-item dropdown">
                        <a class="menu-link dropdown-toggle2 zr2" href="#" id="dropdown2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Account
                           <i class="fa fa-angle-down"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdown2">
                            <a class="dropdown-item" href="#">item1</a>
                            <a class="dropdown-item" href="#">item2</a>

                        </div>
                    </li> -->

                    <li class="location2" href="#">
                        Returns<br> & Orders

                    </li>

                    <li class="location store" href="#">
                        <img src="/assets/masar_portal_oldtimer/oldtimer/image/down.stpng.png" >
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand" id="mobile-nav">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-6 part2">
                    <div class="burger">
                        <div style=" top:30px ; left: 20px; position:absolute;font-size:30px; padding:2px 10px;     cursor: pointer;" onclick="openNav()" class="bb">
                            <img src="/assets/masar_portal_oldtimer/oldtimer/image/mobile-bb.png">
                        </div>
                    </div>
                    <a class="store-mobile" href="#">
                        <img id="logo" src="/assets/masar_portal_oldtimer/oldtimer/image/store-mobile.png" width="100%">
                    </a>



                </div>
                <div class="col-sm-6 col-6">
                    <a class="navbar-brand" href="#">
                        <img id="logo" src="/assets/masar_portal_oldtimer/oldtimer/image//bdd.png" width="100%">
                    </a>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-sm-12 col-6 part3">

                    <div class="collapse navbar-collapse" id="navbarExample">

                        <select id="category1"  name="" onchange="mFunction(event)">
                                <option value="All Products">All</option>
                                <option value="REAR TAIL LIGHTS"> REAR TAIL LIGHTS</option>
                                <option value="INFRARED LIGHTING"> INFRARED LIGHTING</option>
                                <option value="LASER LIGHTING"> LASER LIGHTING</option>
                                <option value="RTL-REAR TAIL LIGHTS"> RTL-REAR TAIL LIGHTS</option>
                                <option value="LED Auxiliary Lights"> LED Auxiliary Lights</option>
                                <option value="LED Light Bars"> LED Light Bars</option>


                        </select>
                        <div class="search-box">
                            <input id="myText2" class="icon-rtl"  type="text" value="search product">

                        </div>

                    </div>
                    <!-- <div class="collapse navbar-collapse" id="navbarExample">
                        <ul id="l-nav" class="navbar-nav">
                            <li class="menu-item dropdown move">
                                <a class="menu-link dropdown-toggle dropdown-toggle" href="#" id="dropdown1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                   All

                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown1">
                                    <a class="dropdown-item"  href="#">item1</a>
                                    <a class="dropdown-item" href="#">item2</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="search-box">
                        <input type="text" class="icon-rtl" value placeholder="Search product">
                    </div> -->
                </div>
            </div>

        </div>
    </nav>

    <header class="navbar navbar-expand-md" >
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggle-span"><i class="fa fa-bars"></i></span>
            </button>

            <div class="collapse navbar-collapse collapse2 show co-mobile" id="navbarsExample05">
                <ul id="nav" class="navbar-nav pl-lg-3 pl-0 myDIV">

                    <li class="nav-item item1">
                        <a class="nav-link btn-1" href="#">Home</a>
                    </li>

                    <li class="menu-item dropdown item1">
                        <a class="menu-link nav-link dropdown-toggle btn-1" href="#" id="dropdown7" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Science of Lighting
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown7">
                            <a class="dropdown-item" href="#">Lighting Zones Explained</a>
                            <a class="dropdown-item" href="#">uService</a>

                            <a class="dropdown-item" href="#">5000K Daylight</a>
                            <a class="dropdown-item" href="#">Moistureblock</a>
                            <a class="dropdown-item" href="#">Clearview</a>
                            <a class="dropdown-item" href="#">Copperdrive</a>
                            <a class="dropdown-item" href="#">BMT-Battery Management</a>



                        </div>
                    </li>

                    <li class="menu-item nav-link dropdown item2">
                        <a class="menu-link dropdown-toggle btn-1" href="#" id="dropdown8" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Dealers
                           <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown8">
                            <a class="dropdown-item" href="#">Dealer Login</a>
                            <a class="dropdown-item" href="#">Become a Dealer</a>

                        </div>
                    </li>

                    <li class="menu-item nav-link dropdown item2">
                        <a class="menu-link dropdown-toggle btn-1" href="#" id="dropdown9" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Help
                           <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown9">
                            <a class="dropdown-item" href="#">item1</a>
                            <a class="dropdown-item" href="#">item2</a>

                        </div>
                    </li>

                    <li class="nav-item nav-link item2">
                        <a class="nav-link btn-1" href="#">Shop By Product</a>
                    </li>


                </ul>



            </div>

            <div id="mymenu">
                <div id="mySidenav" class="sidenav">

                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times"></i></a>
                    <ul class="link list-unstyled" style="margin-top: 4rem">


                        <hr><li class="l1" style="margin-top: 1.5rem"><a href="">Home</a></li><hr>
                        <li style="margin-top: 1.5rem" class="menu-item dropdown item1">
                            <a class="menu-link nav-link dropdown-toggle" href="#"  id="dropdown7" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Science of Lighting
                              <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu  wow fadeInLeft" aria-labelledby="dropdown7">
                                <a class="dropdown-item" href="#">Lighting Zones Explained</a>
                                <a class="dropdown-item" href="#">uService</a>

                                <a class="dropdown-item" href="#">5000K Daylight</a>
                                <a class="dropdown-item" href="#">Moistureblock</a>
                                <a class="dropdown-item" href="#">Clearview</a>
                                <a class="dropdown-item" href="#">Copperdrive</a>
                                <a class="dropdown-item" href="#">BMT-Battery Management</a>



                            </div>
                            <!-- <div class="dropdown-menu" aria-labelledby="dropdown7">
                                <a class="dropdown-item" href="#">item1</a>
                                <a class="dropdown-item" href="#">item2</a>

                            </div> -->

                        </li><hr>
                        <li  style="margin-top: 1.5rem" class="menu-item nav-link dropdown item2">
                            <a class="menu-link dropdown-toggle" href="#" id="dropdown8" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Dealers
                               <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu   wow fadeInLeft" aria-labelledby="dropdown8">
                                <a class="dropdown-item" href="#">Dealer Login</a>
                                <a class="dropdown-item" href="#">Become a Dealer</a>

                            </div>
                        </li><hr>

                        <li  style="margin-top: 1.5rem" class="menu-item nav-link dropdown item2">
                            <a class="menu-link dropdown-toggle" href="#" id="dropdown9" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Help
                               <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu   wow fadeInLeft" aria-labelledby="dropdown9">
                                <a class="dropdown-item" href="#">item1</a>
                                <a class="dropdown-item" href="#">item2</a>

                            </div>
                        </li><hr>

                        <li style="margin-top: 1.5rem"><a href="">Shop By Product</a></li><hr>




                    </ul>
                </div>

            </div>
        </div>
    </header>
{% block content %}
{% endblock %}

<footer id="desctop-footer">
    <div class="container-fluid">

        <div class="row box">




            <div class="col-lg-4 col-md-6 col-sm-6 col-12  down part1">
                <p class="title">Contact Us</p>
                <div class="group">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/Icon material-email.png">
                    <a href="#">info@oldtimer-me.com </a>
                </div>
                <div class="group mygroup">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/loaction-icon.png">
                    <a href="#">Unit 7, Business Park 1,<br>Dubai Autodrome - Motor City - Dubai</a>
                    <!-- <a href="#" class="tow"> </a> -->
                </div>
                <div class="group">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/Icon feather-phone-call.png">
                    <a href="#">+971 56 480 4689</a>
                </div>
                <div class="group">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/Icon awesome-whatsapp.png">
                    <a href="#">+971 56 480 4689</a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6 col-12  down down1" id="about-mobile">
                <p class="title">About Us</p>
                <p class="desc">A one stop shop for high end Motorcycle
                    Helmets, Jacket, Pants, Boots, Gloves, Gear,
                    Parts & Accessories for Adventure, sport, cafe or
                    cruiser bike style.</p>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6 col-12  down down2 down3">

                <p class="title" id="follow-us">Follow Us</p>
                <div class="follow-icon">
                    <a href="https://m.facebook.com/oldtimermiddleeast/" class="social"> <img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-facebook.png"></a>
                    <a href="https://instagram.com/oldtimermiddleeast?igshid=YmMyMTA2M2Y=" class="social"> <img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-instagram.png"></a>
                    <a href="https://www.tiktok.com/@oldtimermiddleeast" class="social"> <img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-tik-tok.png"></a>
                     <a href="https://youtube.com/channel/UCcUgqmdg-jdUXAGPRlvC_LA" class="social"> <img src="/assets/masar_portal_oldtimer/oldtimer/image/new-youtub.png"></a>
                </div>
                <p class="title">Useful Links</p>

                <a href="#"> Home </a>
                <a href="#"> Dealer Login </a>
                <a href="#" > Become a Dealer</a>
                <a href="#" class="tobr"> Shop by Product </a>







            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 down down4">
                <div class="fini">
                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/logo new.png" class="img1">


                </div>
            </div>



        </div>
    </div>
</footer>








<footer id="mobile-footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-12 down down0">

                    <img src="/assets/masar_portal_oldtimer/oldtimer/image/logo new.png" class="img1">

            </div>

            <div class="col-sm-12 col-12 down down1">
                <p class="title">About Us</p>
                <p class="desc">A one stop shop for high end Motorcycle
                    Helmets, Jacket, Pants, Boots, Gloves, Gear,
                    Parts & Accessories for Adventure, sport, cafe or
                    cruiser bike style.
                </p>
            </div>

            <div class="col-sm-12 col-12 down">
                <p class="title">Contact Us</p>
                <div class="group">
                    <a href="#">info@oldtimer-me.com </a>
                </div>
                <div class="group mygroup">
                    <a href="#">Unit 7, Business Park 1,<br>Dubai Autodrome - Motor City - Dubai</a>
                </div>
                <div class="group">
                    <a href="#">+971 56 480 4689</a>
                </div>
                <div class="group">
                    <a href="#">+971 56 480 4689</a>
                </div>
            </div>

            <div class="col-sm-12 col-12 down Links">

                <p class="title">Useful Links</p>

                <div class="row part1">
                    <a href="#"> Home </a>
                    <a href="#"> Dealer Login </a>
                    <a href="#" > Become a Dealer</a>
                </div>
                <div class="row part2">
                    <a href="#" class="tobr"> Shop by Product </a>
                </div>
            </div>

            <div class="col-sm-12 col-12 down">
                <p class="title" id="follow-us">Follow Us</p>
                <div class="follow-icon">
                    <a href="https://m.facebook.com/oldtimermiddleeast/" class="social"><img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-facebook.png"></a>
                    <a href="https://instagram.com/oldtimermiddleeast?igshid=YmMyMTA2M2Y=" class="social"><img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-instagram.png"></a>
                    <a href="https://www.tiktok.com/@oldtimermiddleeast" class="social"><img src="/assets/masar_portal_oldtimer/oldtimer/image/footer-tik-tok.png"></a>
                    <a href="https://youtube.com/channel/UCcUgqmdg-jdUXAGPRlvC_LA" class="social"> <img src="/assets/masar_portal_oldtimer/oldtimer/image/new-youtub.png"></a>
                </div>
            </div>
        </div>

    </div>
</footer>












    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="/assets/masar_portal_oldtimer/oldtimer/js/intlTelInput.js"></script>
        <script src="/assets/masar_portal_oldtimer/oldtimer/js/intlTelInput-jquery.min.js"></script>

        <script src="/assets/masar_portal_oldtimer/oldtimer/js/jquery.morecontent.js"></script>
        <script src="/assets/masar_portal_oldtimer/oldtimer/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
<script>
    // var header = document.getElementById("left-nav");
    var btns = document.getElementsByClassName("nav-link");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }
            this.className += " active";
        });
    }
</script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "280px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script>

    $('#myCarousel-slid').owlCarousel({
        interval: 0,
        loop: true,
  nav: false,
  dots: true,
        margin: 20,

        autoplay: true,

        autoplayTimeout: 7000,
        rtl: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            800: {
                items: 1
            },
            1000: {
                items: 1
            }

        }
    })
</script>

<script>

    $('#myCarousel-blogs').owlCarousel({
        interval: 0,
        loop: true,
        margin: 20,
        nav: false,
        // navText: ['<a ><i class="far fa-arrow-left"></i> </a>', '<a ><i class="far fa-arrow-right"></i></a>'],

        autoplay: true,

        autoplayTimeout: 4000,
        rtl: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            800: {
                items: 2
            },
            1000: {
                items: 3
            }

        }
    })
</script>

<script>

    $('#myCarousel-SERVICES').owlCarousel({
        interval: 0,
        loop: true,
        margin: 20,
        // nav: true,
        // navText: ['<a ><i class="far fa-arrow-left"></i> </a>', '<a ><i class="far fa-arrow-right"></i></a>'],

        autoplay: false,

        autoplayTimeout: 0,
        rtl: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 1
            },
            800: {
                items: 2
            },
            1000: {
                items: 3
            }

        }
    })
</script>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn-1");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/masar_portal_oldtimer/oldtimer/js/flag.js"></script>
<script>$(function(){
    $('.selectpicker').selectpicker();
});
</script>

<script>

    function myFunction(e){
        document.getElementById("myText").value = e.target.value;

    }
    </script>
<script>

    function mFunction(e){
        document.getElementById("myText2").value = e.target.value;

    }
    </script>


</body>
</html>
